<li class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
            <div class="sidebar-header">
                <h3></h3>
            </div>
            <ul class="list-unstyled CTAs">
                <li>
                    <a href="/dashboard" class="logout">HOME</a>
                </li>
            </ul>
        </nav>
    
    <!-- Page Content  -->
    <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
        
                        <button type="button" id="sidebarCollapse" class="btn btn-info">
                            <i class="fas fa-align-left"></i>
                        </button>
                    </div>
                </nav>

        <div class="col">
              <div class="row">

                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="card">

                          <div class="card-body">
                              <h4 class="card-title"><a href="">ORDERS&nbsp;</a>
                            </h4>
                              <p class="card-text">Edit status of incoming Orders</p>
                              <div class="row">
                                    <a href="/orders-status" id="admin-go-btn" class="btn btn-primary btn-lg btn-block">GO</a> 
                              </div>
                          </div>
                      </div>
                      <div class="card">

                        <div class="card-body">
                            <h4 class="card-title"><a href="">PRODUCTS&nbsp;</a>
                          </h4>
                            <p class="card-text">Edit Food Items</p>
                            <div class="row">
                                  <a href="/edit-products" id="admin-go-btn" class="btn btn-primary btn-lg btn-block">GO</a> 
                            </div>
                        </div>
                    </div>
                    <div class="card">

                            <div class="card-body">
                                <h4 class="card-title"><a href="">PRODUCTS&nbsp;</a>
                              </h4>
                                <p class="card-text">Add new Food items</p>
                                <div class="row">
                                      <a href="/add-products" id="admin-go-btn" class="btn btn-primary btn-lg btn-block">GO</a> 
                                </div>
                            </div>
                        </div>
                  </div>


              </div>
          </div>
  
    </div>
</li>