<div class="col-sm-6 col-md-4">
    <form class="shadow-lg p-4 text-black">
        <div class="form-group">
            <label class="pl-2 font-weight-bold">Create an account or login</label>
            <a href="/admins/register" class="btn btn-outline-primary mt-3 btn-block shadow-sm font-weight-bold">Register</a>
            <a href="/admins/login" class="btn btn-outline-danger mt-3 btn-block shadow-sm font-weight-bold">Login</a>
        </div>
    </form>
</div>
  