<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FRCRCE Canteen eCommerce</title>
    <!--Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--Google Fonts-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oleo+Script&display=swap">
    <!--Font Awesome (Icon Toolkit)-->
    <script src="fonts/font-awesome-4.7.0/js/fontawesome-all.js"></script>
    <!--Magnific Popup core CSS file -->
    <link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.css">
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <div class="container-fluid info p-2" id="top">
      <div class="row">
        <div class="col d-flex justify-content-between align-items-baseline flex-wrap">
          <div>
            <img src="images/logo.jpg" alt="logo">
          </div>
          <h3 class="primary-color p-2">Fr. Conceicao Rodrigues College of Engineering</h3>
        </div>
      </div>
    </div>

    <!--Start of header-->
    <header id="header">
      <div class="container">
        <div class="row height-90 align-items-center justify-content-center">
          <div class="col">
            <div class="banner text-center">
              <h1 class="display-1 text-capitalize underline w-50 mx-auto">
                <strong class="primary-color">Canteen</strong>
              </h1>
              <a href="/users/login" class="canteen-btn main-btn btn my-4 text-capitalize">Order Online</a>
            </div>
          </div>
        </div>
      </div>
      <a href="#special-items" class="btn header-link primary-color"><i class="fas fa-arrow-down"></i></a>
    </header>
    <!--End of header-->

    <!--Start of navbar-->
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand text-uppercase primary-color" href="#">Canteen</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
          <div class="toggler-btn">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
          </div>
        </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a href="#special-items" class="nav-link text-capitalize">special items</a>
          </li>
          <li class="nav-item">
            <a href="#menu" class="nav-link text-capitalize">menu</a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link text-capitalize">about</a>
          </li>
          <li class="nav-item">
            <a href="#reviews" class="nav-link text-capitalize">reviews</a>
          </li>
          <li class="nav-item">
            <a href="/contact.html" class="nav-link text-capitalize">contact</a>
          </li>
        </ul>
        <form class="form-inline d-none d-lg-block mr-5">
          <a href="/users/login">
            <button class="btn nav-btn text-capitalize" type="button">order online</button>
          </a>
        </form>
      </div>
    </nav>
    <!--End of navbar-->
    
    <!--Start of special items-->
    <section id="special-items" class="py-5">
      <div class="container my-5">
        <div class="row parent-container">
          <!--Start of special item 1-->
          <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
            <div class="item-container">
              <img src="images/special-item-1.jpg" alt="Non-Veg Puff" class="img-fluid img-thumbnail item-img">
              <a href="images/special-item-1.jpg">
                <h1 class="text-uppercases text-center item-link px-3">Non-Veg Puff</h1>
              </a>
            </div>
          </div>          
          <!--End of special item 1-->
          <!--Start of special item 2-->
          <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
            <div class="item-container">
              <img src="images/special-item-2.jpg" alt="Non-Veg Sandwich" class="img-fluid img-thumbnail item-img">
              <a href="images/special-item-2.jpg">
                <h1 class="text-uppercases text-center item-link px-3">Non-Veg Sandwich</h1>
              </a>
            </div>
          </div>
          <!--End of special item 2-->
          <!--Start of special item 3-->
          <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
            <div class="item-container">
              <img src="images/special-item-3.jpg" alt="Non-Veg Burger" class="img-fluid img-thumbnail item-img">
              <a href="images/special-item-3.jpg">
                <h1 class="text-uppercases text-center item-link px-3">Non-Veg Burger</h1>
              </a>
            </div>
          </div>
          <!--End of special item 3-->
          <!--Start of special item 4-->
          <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
            <div class="item-container">
              <img src="images/special-item-4.jpg" alt="Chicken Lollipop" class="img-fluid img-thumbnail item-img">
              <a href="images/special-item-4.jpg">
                <h1 class="text-uppercases text-center item-link px-3">Chicken Lollipop</h1>
              </a>
            </div>
          </div>
          <!--End of menu item 4-->
          <!--Start of special item 5-->
          <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
            <div class="item-container">
              <img src="images/special-item-5.jpg" alt="Veg Thali" class="img-fluid img-thumbnail item-img">
              <a href="images/special-item-5.jpg">
                <h1 class="text-uppercases text-center item-link px-3">Veg Thali</h1>
              </a>
            </div>
          </div>
          <!--End of special item 5-->
          <!--Start of special item 6-->
          <div class=" col-10 mx-auto col-sm-6 col-lg-4 my-3">
            <div class="item-container">
              <img src="images/special-item-6.jpg" alt="Non-Veg Thali" class="img-fluid img-thumbnail item-img">
              <a href="images/special-item-6.jpg">
                <h1 class="text-uppercases text-center item-link px-3">Non-Veg Thali</h1>
              </a>
            </div>
          </div>
          <!--End of special item 6-->
        </div>
      </div>
    </section>
    <!--End of special items-->
    
    <!--Start of Menu-->
    <section id="menu" class="py-5 my-5">
      <div class="container">

        <!--Start of left sided part-->
        <div class="row">
          <div class="col-md-6">
            <!--Start of title 1-->
            <div class="row">
              <div class="col">
                <h1 class="secondary-color text-uppercase">Snacks</h1>
              </div>
            </div>
            <!--End of title 1-->
            <!--Start of item 1 of title 1-->
            <div class="single-item d-flex justify-content-between my-3 p-3">
              <div class="single-item-text">
                <h3 class="text-uppercase text-dark">Samosa</h3>
                <h5 class="text-muted">A fried or baked dish with a</h5>
                <h5 class="text-muted">savoury filling</h5>
              </div>
              <div class="single-item-price align-self-end">
                <h3 class="text-dark">&#8377 10</h3>
              </div>
            </div>
            <!--End of item 1 of title 1--> 
            <!--Start of item 2 of title 1-->
            <div class="single-item d-flex justify-content-between my-3 p-3">
              <div class="single-item-text">
                <h3 class="text-uppercase text-dark">Vada Pav</h3>
                <h5 class="text-muted">A fried potato dumpling</h5>
                <h5 class="text-muted">placed inside a bread bun</h5>
              </div>
              <div class="single-item-price align-self-end">
                <h3 class="text-dark">&#8377 12</h3>
              </div>
            </div>
            <!--End of item 2 of title 1-->
            <!--Start of item 3 of title 1-->
            <div class="single-item d-flex justify-content-between my-3 p-3">
              <div class="single-item-text">
                <h3 class="text-uppercase text-dark">Veg Puff</h3>
                <h5 class="text-muted">Crisp puff pastry filled with</h5>
                <h5 class="text-muted">spiced and tempered potatoes</h5>
              </div>
              <div class="single-item-price align-self-end">
                <h3 class="text-dark">&#8377 15</h3>
              </div>
            </div>
            <!--End of item 3 of title 1-->
            <!--Start of item 4 of title 1-->
            <div class="single-item d-flex justify-content-between my-3 p-3">
              <div class="single-item-text">
                <h3 class="text-uppercase text-dark">Non-Veg Puff</h3>
                <h5 class="text-muted">Lorem ipsum dolor sit amet.</h5>
              </div>
              <div class="single-item-price align-self-end">
                <h3 class="text-dark">&#8377 20</h3>
              </div>
            </div>
            <!--End of item 4 of title 1-->
            <!--Start of item 5 of title 1-->
            <div class="single-item d-flex justify-content-between my-3 p-3 special">
              <div class="single-item-text">
                <h3 class="text-uppercase text-dark">Chicken Lollipop</h3>
                <h5 class="text-muted">Essentially a frenched chicken winglet</h5>
              </div>
              <div class="single-item-price align-self-end">
                <h3 class="text-dark">&#8377 </h3>
              </div>
              <h5 class="special-text text-capitalize">Customer Fav.</h5>
            </div>
            <!--End of item 5 of title 1-->
            <!--Start of title 2-->
            <div class="row">
              <div class="col">
                <h1 class="secondary-color text-uppercase">Main Course</h1>
              </div>
            </div>          
            <!--End of title 2-->
            <!--Start of item 1 of title 2-->
            <div class="single-item d-flex justify-content-between my-3 p-3 special">
              <div class="single-item-text">
                <h3 class="text-uppercase text-dark">Veg Thali</h3>
                <h5 class="text-muted">Lorem ipsum dolor sit amet.</h5>
              </div>
              <div class="single-item-price align-self-end">
                <h3 class="text-dark">&#8377 55</h3>
              </div>
              <h5 class="special-text text-capitalize">Customer Fav.</h5>
            </div>
            <!--End of item 1 of title 2-->
            <!--Start of item 2 of title 2-->
            <div class="single-item d-flex justify-content-between my-3 p-3 special">
              <div class="single-item-text">
                <h3 class="text-uppercase text-dark">Non-Veg Thali</h3>
                <h5 class="text-muted">Lorem ipsum dolor sit amet.</h5>
              </div>
              <div class="single-item-price align-self-end">
                <h3 class="text-dark">&#8377 60</h3>
              </div>
              <h5 class="special-text text-capitalize">Customer Fav.</h5>
            </div>
            <!--End of item 2 of title 2-->
          </div>
          <div class="col-md-6">          
        <!--End of left sided part--> 

        <!--Start of right sided part-->
          <!--Start of title 3-->
          <div class="row">
            <div class="col">
              <h1 class="secondary-color text-uppercase">Burgers</h1>
            </div>
          </div>
          <!--End of title 3-->
          <!--Start of item 1 of title 3-->
          <div class="single-item d-flex justify-content-between my-3 p-3">
            <div class="single-item-text">
              <h3 class="text-uppercase text-dark">Veg Burger</h3>
              <h5 class="text-muted">Lorem ipsum dolor sit amet.</h5>
            </div>
            <div class="single-item-price align-self-end">
              <h3 class="text-dark">&#8377 30</h3>
            </div>
          </div>
          <!--End of item 1 of title 3-->
          <!--Start of item 2 of title 3-->
          <div class="single-item d-flex justify-content-between my-3 p-3">
            <div class="single-item-text">
              <h3 class="text-uppercase text-dark">Non-Veg Burger</h3>
              <h5 class="text-muted">Lorem ipsum dolor sit amet.</h5>
            </div>
            <div class="single-item-price align-self-end">
              <h3 class="text-dark">&#8377 40</h3>
            </div>
          </div>
          <!--End of item 2 of title 3-->
          <!--Start of title 4-->
          <div class="row">
            <div class="col mt-5">
              <h1 class="secondary-color text-uppercase">Sandwiches</h1>
            </div>
          </div>
          <!--End of title 4-->
          <!--Start of item 1 of title 4-->
          <div class="single-item d-flex justify-content-between my-3 p-3">
            <div class="single-item-text">
              <h3 class="text-uppercase text-dark">Veg Sandwich</h3>
              <h5 class="text-muted">Vegetables and sliced cheese</h5>
              <h5 class="text-muted">placed between slices of bread.</h5>
            </div>
            <div class="single-item-price align-self-end">
              <h3 class="text-dark">&#8377 </h3>
            </div>
          </div>
          <!--End of item 1 of title 4-->
          <!--Start of item 2 of title 4-->
          <div class="single-item d-flex justify-content-between my-3 p-3">
            <div class="single-item-text">
              <h3 class="text-uppercase text-dark">Non-Veg Sandwich</h3>
              <h5 class="text-muted">Vegetables, sliced cheese and</h5>
              <h5 class="text-muted">meat placed between slices</h5>
              <h5 class="text-muted">of bread.</h5>
            </div>
            <div class="single-item-price align-self-end">
              <h3 class="text-dark">&#8377 </h3>
            </div>
          </div>
          <!--End of item 2 of title 4-->
          </div>
        </div>
      </div>
    </section>
    <!--End of menu-->

    <!--Start of about-->
    <section id="about" class="py-5 ">
      <div class="container">
        <div class="row">
          <div class="col-md-6 my-4">
            <h1 class="primary-color text-uppercase display-3">About us</h1>
            <h3 class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolorem sequi ratione ipsum autem cupiditate.</h3>
            <a href="#" class="btn main-btn my-4 text-capitalize">learn more</a>
          </div>
          <div class="col-md-6 about-pictures my-4 d-none d-lg-block">
            <img src="images/special-item-1.jpg" alt="special-item-1" class="img-1 img-thumbnail about-image">
            <img src="images/special-item-2.jpg" alt="special-item-2" class="img-2 img-thumbnail about-image">
            <img src="images/special-item-3.jpg" alt="special-item-5" class="img-3 img-thumbnail about-image">
            <img src="images/special-item-4.jpg" alt="special-item-3" class="img-4 img-thumbnail about-image">
            <img src="images/special-item-5.jpg" alt="special-item-4" class="img-5 img-thumbnail about-image">
          </div>
        </div>
      </div>
    </section>
    <!--End of about-->

    <!--Start of reviews-->
    <section id="reviews" class="py-5">

      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <!--Start of carousel-item 1-->
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-lg-10 mx-auto d-flex justify-content-between review-item py-3">
                  <div class="align-self-center ml-3">
                    <img src="images/customer-1.jpeg" alt="Abhishek Ahirrao" class="rounded-circle review-img">
                  </div>
                  <div class="review-text px-5">
                    <h3 class="text-capitalize mb-3 primary-color">Abhishek Ahirrao</h3>
                    <p class="lead text-muted">
                      The food is below average and there's no proper sitting arrangement.
                      The staff is ok.
                      There's way too much crowd in the peak times and it's difficult to get the food in time as the break is not big enough to eat your stuff.
                      On the other hand lunch provided is good.
                      Overall Rating: 5/10
                    </p>
                    <p class="lead text-muted">01/09/19</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--End of carousel-item 1-->
          <!--Start of carousel-item 2-->
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-lg-10 mx-auto d-flex justify-content-between review-item py-3">
                  <div class="align-self-center ml-3">
                    <img src="images/customer-2.jpg" alt="Rahim Chunara" class="rounded-circle review-img">
                  </div>
                  <div class="review-text px-5">
                    <h3 class="text-capitalize mb-3 primary-color">Rahim Chunara</h3>
                    <p class="lead text-muted">
                      The food items are limited and very few of them taste good.
                      The quality of food is not upto mark.
                      I would pay slightly more if they want for better food.
                      There is no seating arrangement around canteen.
                      No proper tables.
                      The place where food is kept should have inbuilt lights to constantly heat the food. 
                      Overall Rating: 4/10
                    </p>
                    <p class="lead text-muted">15/08/17</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--End of carousel-item 2-->
        </div>
        <!--Carousel controls-->        
        <a class="carousel-control-prev " href="#carouselExampleControls" role="button" data-slide="prev"><span class="carousel-control-prev-icon" ></span></a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"><span class="carousel-control-next-icon" ></span></a>
      </div>
    </section>
    <!--End of reviews-->

    <div class="container-fluid no-padding">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 my-3 align-self-center ">
          <div class="embed-responsive embed-responsive-21by9 height-60">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.437287171567!2d72.81826481531282!3d19.04450205790981!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9410830616d%3A0x111b63353dbbce01!2sFr.%20Conceicao%20Rodrigues%20College%20of%20Engineering!5e0!3m2!1sen!2sin!4v1571321599298!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </div> 

    <div class="container-fluid info">
      <div class="row">
        <div class="col d-flex justify-content-between align-items-baseline flex-wrap">
          <div class="info-icons p-2">
            <a href="https://www.facebook.com/Fr-Conceicao-Rodrigues-College-of-Engineering-331383714253665/" class="primary-color mr-3"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="https://www.instagram.com/agnelcrcebandra/" class="primary-color mr-3"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="https://twitter.com/agnelcrcebandra" class="primary-color mr-3"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="https://www.youtube.com/channel/UCVXm63qDorgkAXRIEh7XLjA" class="primary-color mr-3"><i class="fab fa-youtube fa-2x"></i></a>
          </div>
          <h3 class="primary-color p-2 text-uppercase">&copy;Copyright 2019</h3>
        </div>
      </div>
    </div>

    <a href="#top" id="back-to-top" class="p-1"><i class="fa fa-arrow-up secondary-color fa-3x"></i></a>
    <!--jquery JS-->
    <script src="vendor/jquery/jquery-3.4.1.min.js"></script>
    <!--Bootstrap JS-->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--JS-->
    <script src="js/main.js"></script>
    <!--Magnific Popup Core JS-->
    <script src="vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <!--Ripples JS-->
    <script src="vendor/ripples/jquery.ripples-min.js"></script>
  </body>
</html>